asgiref==3.11.0
cloudpickle==3.1.2
defusedxml==0.7.1
Django==6.0.1
django-cors-headers==4.9.0
django-jazzmin==3.0.1
django-rest-knox==5.0.2
django-rest-passwordreset==1.5.0
django-unfold==0.76.0
djangorestframework==3.16.1
Farama-Notifications==0.0.4
fonttools==4.61.1
fpdf2==2.8.5
gymnasium==1.2.2
numpy==2.3.5
pillow==12.2.0
pygame-ce==2.5.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.2
python-dotenv==1.2.2
SimConnect==0.4.26
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.11.0
yt-dlp==2026.2.21
dj-database-url>=2.3.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
requests==2.32.3
